.p-about-common {
    margin-top: 150px;

    &__heading {
        font-size: 2.3rem;
        padding-left: 60px;
        margin-bottom: 70px;
        display: inline-block;
        position: relative;
    }

    &__heading::before {
        content: "";
        width: 40px;
        height: 1px;
        background-color: #000;
        position: absolute;
        left: 0;
        top: 22px;
    }

    &__heading::after {
        content: "";
        width: 40px;
        height: 1px;
        background-color: #000;
        position: absolute;
        right: -55px;
        top: 22px;
    }
}


.p-about {
    &__blocks {
        display: flex;
        justify-content: space-between;
    }

    &__txts {
        width: 60%;
    }

    &__name {
        font-size: 1.5rem;
        margin-bottom: 60px;
    }

    &__lists {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__item {
        margin-bottom: 25px;
        font-size: 0.9rem;
        width: 50%;
    }

}

.p-about-intro {
    &__txtL {
        font-weight: bold;
        margin-bottom: 50px;
        margin-top: 25px;
        line-height: 35px;
        font-size: 1.35rem;
    }

    &__txtS {
        margin-bottom: 25px;
        line-height: 30px;
        font-size: 0.95rem;
    }
}

.p-about-history {
    &__lists {
        margin-top: 30px;
    }

    &__item {
        list-style-type: disc;
        margin-bottom: 20px;
        font-size: 0.95rem;
    }
}

.p-about-skills {
    &__lists {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 80px;
        margin-bottom: 150px;
    }

    &__item {
        width: 33%;
        text-align: center;
        margin-bottom: 130px;

        h2 {
            font-size: 1.8rem;
            margin-bottom: 30px;
        }

        p {
            margin-top: 25px;
            font-size: 0.9rem;
            line-height: 25px;
        }
    }
}

@media(max-width:1050px) {
    main {
        width: 95%;
    }
}

@media(max-width:850px) {
    .p-about {
        &__lists {
            flex-direction: column;
        }

        &__item {
            width: 100%;
        }
    }

    .p-about-skills {
        &__item {
            width: 45%;
        }
    }
}

@media(max-width:480px) {
    .p-about {
        &__blocks {
            flex-direction: column;
        }

        &__txts {
            width: 100%;
        }

        &__img {
            margin-top: 40px;
        }

        &__item {
            font-size: 0.85rem;
        }

    }

    .p-about-common {
        margin-top: 100px;
        text-align: center;

        &__heading {
            padding-left: 0;
            font-size: 2rem;
        }

        &__heading::before {
            left: -63px;
        }
    }

    .p-about-intro {
        &__txtL {
            font-size: 1rem;
        }

        &__txtS {
            font-size: 0.85rem;
            text-align: left;
        }
    }

    .p-about-history {
        &__item {
            text-align: left;
            font-size: 0.85rem;
        }

        &__lists {
            width: 90%;
            margin-inline: auto;
        }

        &__item {
            line-height: 25px;
        }
    }

    .p-about-skills {
        &__lists {
            margin-top: 20px;
            margin-bottom: 0;
        }

        &__item {
            width: 100%;
            margin-bottom: 70px;
        }
    }
}