.wp-pagenavi {
    /* 全体 */
    margin: 20px 0;
    font-size: 12px;
    text-align: center;
}

.wp-pagenavi a {
    /* フォント色 */
    color: #4a4a4a;
}

.pages {
    /* 左の表記 */
    display: none;
}

.wp-pagenavi .current,
.wp-pagenavi a.page {
    /* ボタン */
    margin: 0 6px 6px 0;
    display: inline-block;
    border: solid 1px #eee;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    transition: 0.5s;
}

.wp-pagenavi .current {
    /* カレント数字 */
    border: none;
    background: #000;
    color: #fff;
}

.wp-pagenavi .first,
.wp-pagenavi .extend {
    /* ... */
    margin-right: 10px;
}

.wp-pagenavi .previouspostslink,
.wp-pagenavi .nextpostslink {
    /* 記号の削除 */
    display: none;
}

@media(min-width:769px) {
    .wp-pagenavi a.page:hover {
        background: #000;
        color: #fff;
        transition: 0.5s;
    }
}