@charset "UTF-8";
/*! destyle.css v2.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

button[disabled],
[type=button][disabled],
[type=reset][disabled],
[type=submit][disabled] {
  cursor: default;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove arrow in IE10 & IE11
 */
select::-ms-expand {
  display: none;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable] {
  outline: none;
}

/* Table */
/* ============================================ */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* Misc */
/* ============================================ */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  color: #292929;
}

img {
  max-width: 100%;
}

.l-header {
  position: fixed;
  right: 0;
  left: 0;
  background-color: #fff;
}
.l-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.l-header__lists {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.l-header__item {
  padding: 0 20px;
}
.l-header__link {
  font-size: 1.15rem;
}

main {
  padding: 100px 0;
}

.l-footer {
  padding: 40px 0;
  border-top: 1px solid #000;
}
.l-footer__copy {
  text-align: center;
  font-size: 0.9rem;
}

.l-container {
  max-width: 1230px;
  padding-right: 15px;
  padding-left: 15px;
  margin-inline: auto;
}

.l-common-container {
  max-width: 1030px;
  padding-right: 15px;
  padding-left: 15px;
  margin-inline: auto;
}

.wp-pagenavi {
  /* 全体 */
  margin: 20px 0;
  font-size: 12px;
  text-align: center;
}

.wp-pagenavi a {
  /* フォント色 */
  color: #4a4a4a;
}

.pages {
  /* 左の表記 */
  display: none;
}

.wp-pagenavi .current,
.wp-pagenavi a.page {
  /* ボタン */
  margin: 0 6px 6px 0;
  display: inline-block;
  border: solid 1px #eee;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  transition: 0.5s;
}

.wp-pagenavi .current {
  /* カレント数字 */
  border: none;
  background: #000;
  color: #fff;
}

.wp-pagenavi .first,
.wp-pagenavi .extend {
  /* ... */
  margin-right: 10px;
}

.wp-pagenavi .previouspostslink,
.wp-pagenavi .nextpostslink {
  /* 記号の削除 */
  display: none;
}

@media (min-width: 769px) {
  .wp-pagenavi a.page:hover {
    background: #000;
    color: #fff;
    transition: 0.5s;
  }
}
.p-about-common {
  margin-top: 150px;
}
.p-about-common__heading {
  font-size: 2.3rem;
  padding-left: 60px;
  margin-bottom: 70px;
  display: inline-block;
  position: relative;
}
.p-about-common__heading::before {
  content: "";
  width: 40px;
  height: 1px;
  background-color: #000;
  position: absolute;
  left: 0;
  top: 22px;
}
.p-about-common__heading::after {
  content: "";
  width: 40px;
  height: 1px;
  background-color: #000;
  position: absolute;
  right: -55px;
  top: 22px;
}

.p-about__blocks {
  display: flex;
  justify-content: space-between;
}
.p-about__txts {
  width: 60%;
}
.p-about__name {
  font-size: 1.5rem;
  margin-bottom: 60px;
}
.p-about__lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.p-about__item {
  margin-bottom: 25px;
  font-size: 0.9rem;
  width: 50%;
}

.p-about-intro__txtL {
  font-weight: bold;
  margin-bottom: 50px;
  margin-top: 25px;
  line-height: 35px;
  font-size: 1.35rem;
}
.p-about-intro__txtS {
  margin-bottom: 25px;
  line-height: 30px;
  font-size: 0.95rem;
}

.p-about-history__lists {
  margin-top: 30px;
}
.p-about-history__item {
  list-style-type: disc;
  margin-bottom: 20px;
  font-size: 0.95rem;
}

.p-about-skills__lists {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 80px;
  margin-bottom: 150px;
}
.p-about-skills__item {
  width: 33%;
  text-align: center;
  margin-bottom: 130px;
}
.p-about-skills__item h2 {
  font-size: 1.8rem;
  margin-bottom: 30px;
}
.p-about-skills__item p {
  margin-top: 25px;
  font-size: 0.9rem;
  line-height: 25px;
}

#p-mainVisual {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 100px;
}

.p-topSection {
  padding: 150px 15px;
}
.p-topSection__heading {
  font-size: 2rem;
  padding-left: 60px;
  margin-bottom: 30px;
  display: inline-block;
  position: relative;
}
.p-topSection__heading::before {
  content: "";
  width: 40px;
  height: 1px;
  background-color: #000;
  position: absolute;
  left: 0;
  top: 18px;
}
.p-topSection__heading::after {
  content: "";
  width: 40px;
  height: 1px;
  background-color: #000;
  position: absolute;
  right: -55px;
  top: 18px;
}
.p-topSection__txt {
  line-height: 30px;
}

.p-topAbout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.p-topAbout__txts {
  position: relative;
}
.p-topAbout__link {
  display: block;
  text-align: right;
  margin-top: 20px;
  font-size: 0.85rem;
}
.p-topAbout__link span {
  display: inline-block;
  padding: 8px 12px;
  background-color: #eee;
  letter-spacing: 1px;
}

.p-topPhoto__imgs {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.p-topPhoto__imgs a {
  display: block;
  width: 32%;
}
.p-topPhoto__imgs a img {
  width: 100%;
}
.p-topPhoto__txts {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.p-topPhoto__txt {
  line-height: 30px;
  font-size: 0.85rem;
}
.p-topPhoto__link {
  display: inline-block;
  padding: 8px 12px;
  background-color: #eee;
  letter-spacing: 1px;
  font-size: 0.85rem;
}

.p-topBlog__link {
  text-align: right;
  display: block;
  margin-top: 30px;
}
.p-topBlog__link span {
  font-size: 0.85rem;
  display: inline-block;
  padding: 8px 12px;
  background-color: #eee;
  letter-spacing: 1px;
}

.p-topBlogs {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.p-topBlogs figure {
  width: 32%;
}
.p-topBlogs figure img {
  width: 100%;
}
.p-topBlogs figure figcaption {
  margin-top: 15px;
  font-size: 0.85rem;
  text-align: left;
}

hgroup {
  padding: 50px;
  margin-bottom: 150px;
  border: 4px solid #333333;
}

.c-archives {
  margin-top: 100px;
}
.c-archives__heading {
  font-size: 2.5rem;
  margin-bottom: 10px;
  text-align: center;
}
.c-archives__sub {
  margin-top: 15px;
  text-align: center;
  font-size: 0.9rem;
}
.c-archives__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.c-archives__contents {
  margin-bottom: 70px;
  width: 30%;
}
.c-archives__excerpt {
  margin-top: 10px;
  font-size: 0.85rem;
}

.c-archives-contents {
  width: 82%;
  margin: 0 auto;
}
.c-archives-contents .wp-block-heading {
  font-size: 1.7rem;
  margin-bottom: 50px;
}
.c-archives-contents p {
  margin: 23px 0;
  line-height: 30px;
  font-size: 0.9rem;
}
.c-archives-contents .wp-block-image {
  margin: 23px 0;
}

.c-single-heading {
  margin-top: 100px;
}/*# sourceMappingURL=style.css.map */