@use "../Global/_mixin" as mix;

.l-header {
    position: fixed;
    right: 0;
    left: 0;
    background-color: #fff;

    &__inner {
        @include mix.flex;
        height: 80px
    }

    &__lists {
        @include mix.flex;
    }

    &__item {
        padding: 0 20px;
    }

    &__link {
        font-size: 1.15rem;
    }
}